* {
    margin: 0;
    padding: 0;
}


body {
    background-image: url('background-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.pg02-background {
    background-color: aquamarine;
    margin: 20px;
    padding: 10px;
}


#box01 {
    width: 50px;
    height: 50px;
    background-color: brown;
    position: relative;
    top: 20px;
    left: 70px;
}

#box02 {
    width: 100px;
    height: 100px;
    margin-top: 50px;
    background-color: blue;
}