h2 {
    background-color: blue;
    color: white;
    text-align: center;
}

h1 {
    background-color: red;
    color: white;
    text-align: center;
}

#pg {
    border: 30;
    background-color: green;
    color: white;
    text-align: center;
    margin: 40;
    padding: 20;
}

.bg-red-h2 {
    background-color: purple;
    color: white;
    text-align: center
}

* {
    background-color: black;
    margin: auto;
    padding: 0%;
}